<input type="checkbox" class="hamburger-logic d-lg-none"/>
<div class="hamburger d-lg-none"></div>
<div class="menu p-1 bg-light">
  <button type="button" class="button px-5 px-lg-2 py-1 my-lg-0 button--user outline-0">Jan Kowalski</button>
  <hr class="btn--spacer">
  <button type="button" class="button px-5 px-lg-2 py-1 my-lg-0 outline-0">Wiadomości</button>
  <hr class="btn--spacer">
  <button type="button" class="button px-5 px-lg-2 py-1 my-lg-0 outline-0">Kalendarz</button>
  <hr class="btn--spacer">
  <button type="button" class="button px-5 px-lg-2 py-1 my-lg-0 outline-0">Oferty</button>
  <hr class="btn--spacer">
  <button type="button" class="button px-5 px-lg-2 py-1 my-lg-0 outline-0 button--current">Kosztorysy</button>
</div>