<div class="main mt-5 main--room-menu" hidden>
  <div class="mt-2 d-none d-lg-flex flex-column text-center text-secondary">
    <span class="fs-12">Testowy kosztorys</span><span class="fs-16">12 345 zł</span>
  </div>
  <ul class="product-list">
    <li class="menu-button list-unstyled">
      <a class="product">
        <svg height="5em" width="5em">
          <use xlink:href="#shower-icon"></use>
        </svg>
        <span>Górna łazienka</span>
      </a>
    </li>
    <li class="menu-button list-unstyled">
      <a class="product">
        <svg height="5em" width="5em">
          <use xlink:href="#shower-icon"></use>
        </svg>
        <span>Parter</span>
      </a>
    </li>
    <li class="menu-button list-unstyled">
      <a class="product">
        <svg height="5em" width="5em">
          <use xlink:href="#divan-icon"></use>
        </svg>
        <span>Salon</span>
      </a>
    </li>
    <li class="menu-button list-unstyled">
      <a class="product">
        <svg height="5em" width="5em">
          <use xlink:href="#divan-icon"></use>
        </svg>
        <span>Salon 2</span>
      </a>
    </li>
    <li class="menu-button list-unstyled">
      <a class="product">
        <svg height="5em" width="5em">
          <use xlink:href="#oven-icon"></use>
        </svg>
        <span>Parter</span>
      </a>
    </li>
    <li class="menu-button list-unstyled">
      <a class="product">
        <svg height="5em" width="5em">
          <use xlink:href="#oven-icon"></use>
        </svg>
        <span>Rodzice</span>
      </a>
    </li>
    <li class="menu-button list-unstyled">
      <a class="product">
        <svg height="5em" width="5em">
          <use xlink:href="#bed-icon"></use>
        </svg>
        <span>Dzieci</span>
      </a>
    </li>
    <li class="menu-button list-unstyled">
      <a class="product">
        <svg height="5em" width="5em">
          <use xlink:href="#bed-icon"></use>
        </svg>
        <span>Sypialnia</span>
      </a>
    </li>
    <li class="menu-button list-unstyled">
      <a class="product">
        <svg height="5em" width="5em">
          <use xlink:href="#bed-icon"></use>
        </svg>
        <span>Michał</span>
      </a>
    </li>
    <li class="menu-button list-unstyled">
      <a class="product">
        <svg height="5em" width="5em">
          <use xlink:href="#rack-icon"></use>
        </svg>
        <span>Ubrania</span>
      </a>
    </li>
    <li class="menu-button list-unstyled">
      <a class="product">
        <svg height="5em" width="5em">
          <use xlink:href="#stairs-icon"></use>
        </svg>
        <span>Schody</span>
      </a>
    </li>
  </ul>
</div>